@model List<Eshop.Domain.Domain.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="container">
    <div class="m-3">
        <a class="btn btn-success" asp-controller="Products" asp-action="Create">Add new product</a>
    </div>
    
    @for(int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        if(i%3 == 0)
        {
            @:<div class="row">
        }
        <div class="col-3 m-4">
            <div class="card" style="width: 18rem; height: 30rem">
                <img class="card-img-top" src="@item.ProductImage" alt="Alternate Text" />
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <p class="card-text">@item.ProductDescription</p>
                    <h6>Price: @item.Price</h6>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-controller="Products" asp-route-id="@item.Id" class="btn btn-dark">Edit</a>
                    <a asp-action="Delete" asp-controller="Products" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="AddProductToCart" asp-controller="Products" asp-route-id="@item.Id" class="btn btn-info">Add to Cart</a>
                </div>
            </div>
        </div>
        if (i % 3 == 2)
        {
            @:</div>
        }
    }

</div>